html {
	background-color: lightblue;
}

h1 { 
	position: relative;
	padding-left: 90px;
	margin-top: -60px;
}

h2 {
	position: relative;
}

#skin {
	position: absolute;
	margin: 50px;
	width: 150px;
	height: 150px;
}

#logo {
	position: static;
	margin:10px;
}

.checkbutton {
	font-family: helvetica;
	border: none;
	font-size: inherit;
	background: none;
	cursor: pointer;
	padding: 5px 80px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	left:250px; 
	border: 3px solid #fff;
	color: #fff;
	margin-top: -38px;
}

.checkbutton:hover,
.checkbutton:active {
	color: #0e83cd;
	background: #fff;
}

.nameinput label { 
	display: inline-block; 
	width: 80px; 
	font-size: 11px; 
	font-weight: bold; 
	color: #444; 
	font-family: Arial, Tahoma, sans-serif; 
	float: right;

}

.nameinput .nameinput_shadow {
	position: relative;
	width: 250px;
	font-size: 17px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	background: #f7f8f8;
	color: #7c7c7c;
	line-height: 1.4;
	padding: 6px 12px;
	outline: none;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	border: 1px solid #ad9c9c;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px rgba(34, 25, 25, 0.2) inset, 0 1px #fff;
}
.nameinput .nameinput_shadow:focus {
	border-color: #930; 
	background: #fff;
	color: #5d5d5d;
	box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 1px rgba(255, 255, 255, 0.6), 0 0 7px rgba(235, 82, 82, 0.5); 
	-moz-box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 1px rgba(255, 255, 255, 0.6), 0 0 7px rgba(235, 82, 82, 0.5); 
	-webkit-box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 1px rgba(255, 255, 255, 0.6), 0 0 7px rgba(235, 82, 82, 0.5);
}

#status {
	float: right;
	border-style: solid;
	border-width: 5px;
	border-radius: 1px;
}

#statusHeader {
	border-style: solid;
	border-width: 4px;
	border-radius: 1px;
}

@font-face {
  font-family: 'Oswald';
  src: url('http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff') format('woff'); 
}

#ServerDown {
	border: solid black;
	text-align: center;
	font-family: "Oswald";
	width:295px;
	height:100px;
	display: inline-block;
	padding:0;
	margin:0;
	float:right;
	clear: both;
	margin:10px;
	background-color: #ad3e3e;
}

#offline_bg {
	background-color: white;
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    /*pointer-events:none;*/
}

#sidebar {
	background-color: black;
	width:300px;
	height:450px;
	float:right;
	opacity: 0.9;
	font-family: "Oswald";
	margin:10px;
}

#side {
	text-align: center;
}

p {
	color:white;
}

